<app-font-style-panel></app-font-style-panel>
<div class="lyric-output-container">
	<div class="lyric-line">
		<!-- <div class="page-margin-before-red">&nbsp;</div> -->
		<div class="line-after-red">{{ lyrics[0] }}</div>
	</div>
	<div class="lyric-line">
		<!-- <div class="page-margin-before-red">&nbsp;</div> -->
		<div class="line-after-red">{{ lyrics[1] }}</div>
	</div>
	<div class="lyric-line">
		<!-- <div class="page-margin-before-red">&nbsp;</div> -->
		<div class="line-after-red">{{ lyrics[2] }}</div>
	</div>
	<div class="lyric-line">
		<!-- <div class="page-margin-before-red">&nbsp;</div> -->
		<div class="line-after-red">{{ lyrics[3] }}</div>
	</div>
	<div class="lyric-line">
		<!-- <div class="page-margin-before-red">&nbsp;</div> -->
		<div class="line-after-red">{{ lyrics[4] }}</div>
	</div>
	<div class="lyric-line">
		<!-- <div class="page-margin-before-red">&nbsp;</div> -->
		<div class="line-after-red">{{ lyrics[5] }}</div>
	</div>
	<div class="lyric-line">
		<!-- <div class="page-margin-before-red">&nbsp;</div> -->
		<div class="line-after-red">{{ lyrics[6] }}</div>
	</div>
	<div class="lyric-line">
		<!-- <div class="page-margin-before-red">&nbsp;</div> -->
		<div class="line-after-red">{{ lyrics[7] }}</div>
	</div>
	<div class="lyric-line">
		<!-- <div class="page-margin-before-red">&nbsp;</div> -->
		<div class="line-after-red">{{ lyrics[8] }}</div>
	</div>
	<div class="lyric-line">
		<!-- <div class="page-margin-before-red">&nbsp;</div> -->
		<div class="line-after-red">{{ lyrics[9] }}</div>
	</div>
	<div class="lyric-line">
		<!-- <div class="page-margin-before-red">&nbsp;</div> -->
		<div class="line-after-red">{{ lyrics[10] }}</div>
	</div>
	<div class="lyric-line">
		<!-- <div class="page-margin-before-red">&nbsp;</div> -->
		<div class="line-after-red">{{ lyrics[11] }}</div>
	</div>
	<div class="lyric-line">
		<!-- <div class="page-margin-before-red">&nbsp;</div> -->
		<div class="line-after-red">{{ lyrics[12] }}</div>
	</div>
	<div class="lyric-line">
		<!-- <div class="page-margin-before-red">&nbsp;</div> -->
		<div class="line-after-red">{{ lyrics[13] }}</div>
	</div>
	<div class="lyric-line">
		<!-- <div class="page-margin-before-red">&nbsp;</div> -->
		<div class="line-after-red">{{ lyrics[14] }}</div>
	</div>
	<div class="lyric-line">
		<!-- <div class="page-margin-before-red">&nbsp;</div> -->
		<div class="line-after-red">{{ lyrics[15] }}</div>
	</div>
	<div class="lyric-line">
		<!-- <div class="page-margin-before-red">&nbsp;</div> -->
		<div class="line-after-red">{{ lyrics[16] }}</div>
	</div>
	<div class="lyric-line">
		<!-- <div class="page-margin-before-red">&nbsp;</div> -->
		<div class="line-after-red">{{ lyrics[17] }}</div>
	</div>
	<div class="lyric-line">
		<!-- <div class="page-margin-before-red">&nbsp;</div> -->
		<div class="line-after-red">{{ lyrics[18] }}</div>
	</div>
	<div class="lyric-line">
		<!-- <div class="page-margin-before-red">&nbsp;</div> -->
		<div class="line-after-red">{{ lyrics[19] }}</div>
	</div>
	<div class="lyric-line">
		<!-- <div class="page-margin-before-red">&nbsp;</div> -->
		<div class="line-after-red">{{ lyrics[20] }}</div>
	</div>
	<div class="lyric-line">
		<!-- <div class="page-margin-before-red">&nbsp;</div> -->
		<div class="line-after-red">{{ lyrics[21] }}</div>
	</div>
	<div class="lyric-line">
		<!-- <div class="page-margin-before-red">&nbsp;</div> -->
		<div class="line-after-red">{{ lyrics[22] }}</div>
	</div>
	<div class="lyric-line">
		<!-- <div class="page-margin-before-red">&nbsp;</div> -->
		<div class="line-after-red">{{ lyrics[23] }}</div>
	</div>
	<div class="lyric-line">
		<!-- <div class="page-margin-before-red">&nbsp;</div> -->
		<div class="line-after-red">{{ lyrics[24] }}</div>
	</div>
	<div class="lyric-line">
		<!-- <div class="page-margin-before-red">&nbsp;</div> -->
		<div class="line-after-red">{{ lyrics[25] }}</div>
	</div>
	<div class="lyric-line">
		<!-- <div class="page-margin-before-red">&nbsp;</div> -->
		<div class="line-after-red">{{ lyrics[26] }}</div>
	</div>
</div>
