<div class="lyric-output-container">
	<div class="lyric-line">
		{{ lyrics[0] }}
	</div>
	<div class="lyric-line">
		{{ lyrics[1] }}
	</div>
	<div class="lyric-line">
		{{ lyrics[2] }}
	</div>
	<div class="lyric-line">
		{{ lyrics[3] }}
	</div>
	<div class="lyric-line">
		{{ lyrics[4] }}
	</div>
	<div class="lyric-line">
		{{ lyrics[5] }}
	</div>
	<div class="lyric-line">
		{{ lyrics[6] }}
	</div>
	<div class="lyric-line">
		{{ lyrics[7] }}
	</div>
	<div class="lyric-line">
		{{ lyrics[8] }}
	</div>
	<div class="lyric-line">
		{{ lyrics[9] }}
	</div>
	<div class="lyric-line">
		{{ lyrics[10] }}
	</div>
	<div class="lyric-line">
		{{ lyrics[11] }}
	</div>
	<div class="lyric-line">
		{{ lyrics[12] }}
	</div>
	<div class="lyric-line">
		{{ lyrics[13] }}
	</div>
	<div class="lyric-line">
		{{ lyrics[14] }}
	</div>
	<div class="lyric-line">
		{{ lyrics[15] }}
	</div>
	<div class="lyric-line">
		{{ lyrics[16] }}
	</div>
	<div class="lyric-line">
		{{ lyrics[17] }}
	</div>
	<div class="lyric-line">
		{{ lyrics[18] }}
	</div>
	<div class="lyric-line">
		{{ lyrics[19] }}
	</div>
	<div class="lyric-line">
		{{ lyrics[20] }}
	</div>
	<div class="lyric-line">
		{{ lyrics[21] }}
	</div>
	<div class="lyric-line">
		{{ lyrics[22] }}
	</div>
	<div class="lyric-line">
		{{ lyrics[23] }}
	</div>
	<div class="lyric-line">
		{{ lyrics[24] }}
	</div>
	<div class="lyric-line">
		{{ lyrics[25] }}
	</div>
	<div class="lyric-line">
		{{ lyrics[26] }}
	</div>
</div>
