.lyric-output-container {
	width: 85%;
	margin: auto;
}

.lyric-line {
	font-size: 1.5em;
	font-family: Roboto, Arial, sans-serif;
	background-color: rgb(240,240,240);
	border-bottom: 1px solid blue;
	border-left: 1px solid red;
	padding: 0 5px;
}